.container {
  position: relative;
  z-index: 0;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}
.pulse {
}
.pulse circle {
  fill: #ff5154;
  transform: scale(0);
  opacity: 0;
  transform-origin: 50% 50%;
  animation: pulse 2s ease-in-out infinite;
}
.pulse circle:nth-child(2) {
  fill: #7fc6a4;
  animation: pulse 2s 0.75s ease-in-out infinite;
}
.pulse circle:nth-child(3) {
  fill: #e5f77d;
  animation: pulse 2s 1.5s ease-in-out infinite;
}
@keyframes pulse {
  25% {
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
  }
}
